*{
    margin:0;
    padding:0;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.Container
{
    color:white;
    width: 500px;
    height: 500px;
    background-color: rgb(18, 18, 18);
}
.desc ul li{
    list-style: none;
    margin-bottom: 20px;
}
.about{
    width: 100%;
    display: flex;
    justify-content: center;
    margin:10px 0px;
}
.headings{
    display: flex;
    justify-content: space-around;
    margin:30px;
    padding:10px;
    color:#fd4261;
    cursor: pointer;
}
.description{
    margin:0px 70px 70px 90px;
}
.desc ul li p{
    margin-left:5px;
}
.desc ul li span{
    color:red;
}

.hide{
    display: none;
}

.heads{
    position: relative;
}

.heads::after{
    content: '';
    width: 0%;
    height: 2px;
    left:0;
    bottom:-5px;
    position: absolute;
    background-color: red;
    transition: 0.5s ease;
}

.heads.active::after{
    width:70%;
}
